<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/my/house">&emsp;CommOn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/tasks/list">Zadania</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rooms">Pokoje</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my/house">Wyniki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dev">DEV</a>
      </li>

    </ul>
  </div>

  <div *ngIf="!authenticated()">
    <button class="btn btn-light"
            >Zaloguj się</button>
  </div>

  <div *ngIf="authenticated()">
    <div class="dropdown d-flex p-2">
      <button class="btn btn-secondary dropdown-toggle bg-dark navbar-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <!--      svg to ikona ludzika-->
        <img src="{{image}}" width="25" height="25" alt="...">&nbsp;
        Więcej
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="/dashboard">Profil</a></li>
        <li><a class="dropdown-item" (click)="logout()">Wyloguj</a></li>
      </ul>
    </div>
  </div>

</nav>
<br>
