<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Usunięcie użytkownika</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Czy napewno chcesz usunąć swojego użytkownika?</p>
    <p><strong>Ta operacja jest nie odwracalna.</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Nie</button>
    <button type="button" class="btn btn-dark"
            (click)="modal.close('Save click')">Usuń użytkownika</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-danger" (click)="open(content)">Usuń użytkownika</button>

<pre>{{ closeResult }}</pre>
