<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Zmiana wymaganych punktów</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="range">Punkty wymagane</label>
            <label for="range" class="text-danger">*</label>
            <input type="number" id="range" formControlName="range" class="form-control">
            <div *ngIf="!userForm?.get('range')?.valid &&
            userForm?.get('range')?.touched &&
            userForm?.get('range')?.errors['required']" class="alert alert-danger small">
              To pole nie może być puste i musi być liczbą!
            </div>
            <div *ngIf="!userForm?.get('range')?.valid &&
            userForm?.get('range')?.touched &&
            userForm?.get('range')?.errors['pattern']" class="alert alert-danger small">
              Wpisana wartość musi być liczbą całowitą!
            </div>
            <div *ngIf="!userForm?.get('range')?.valid &&
            userForm?.get('range')?.touched &&
            userForm?.get('range')?.value < 1" class="alert alert-danger small">
              Cena musi być większa od 0!
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Anuluj</button>
    <button type="button" class="btn btn-dark" [disabled]="!userForm.valid"
            (click)="modal.close('Save click')">Zmień wymaganie</button>
  </div>
</ng-template>
<pre>{{ closeResult }}</pre>
