<form [formGroup]="signUpForm" role="form" (ngSubmit)="signup()">
  <section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Zapisz się</h3>

              <div class="form-group form-outline mb-4">
                <input type="text" id="username" class="form-control form-control-lg" formControlName="username"
                        name="username"/>
                <label class="form-label" for="username">Nazwa użytkownika</label>
                <label for="username" class="text-danger">*</label>
                <div *ngIf="signUpForm.controls['username'].errors?.['required'] &&
                            signUpForm.controls['username'].touched !== false" class="alert alert-danger small">
                  Nazwa użytkownika nie moze być pusta
                </div>
              </div>

              <div class="form-group form-outline mb-4">
                <input type="password" id="password" class="form-control form-control-lg" formControlName="password"
                        name="password"/>
                <label class="form-label" for="password">Hasło</label>
                <label for="password" class="text-danger">*</label>
                <div *ngIf="signUpForm.controls['password'].errors?.['required'] &&
                            signUpForm.controls['password'].touched !== false" class="alert alert-danger small">
                  Hasło nie moze być puste
                </div>
              </div>

              <div class="form-group form-outline mb-4">
                <input type="password" id="passwordConfirmation" class="form-control form-control-lg"
                       formControlName="passwordConfirmation" name="passwordConfirmation"/>
                <label class="form-label" for="password">Powtórz hasło</label>
                <label for="password" class="text-danger">*</label>
                <div *ngIf="signUpForm.controls['passwordConfirmation'].value !== signUpForm.controls['password'].value &&
                            signUpForm.controls['passwordConfirmation'].touched !== false" class="alert alert-danger small">
                  Powtórzone hasło musi być takie samo jak hasło!
                </div>
              </div>

              <div class="form-group form-outline mb-4">
                <input type="checkbox" name="houseCheckbox" id="houseCheckbox" [(ngModel)]="houseCheckbox"
                       [ngModelOptions]="{standalone: true}" (click)="houseCheckboxChanged()">
                <label for="houseCheckbox">&nbsp;Mam już dom, nie chcę generować nowego kodu</label><br>
              </div>

              <div *ngIf="houseCheckbox">
                <div class="form-group form-outline mb-4">
                  <p>Skoro masz już dom wprowadź proszę jego kod abym mógł dodać Cię do niego :)</p>
                  <input type="text" id="houseJoinCode" class="form-control form-control-lg" formControlName="houseJoinCode"
                         name="houseJoinCode"/>
                  <label class="form-label" for="username">Kod domu</label>
                </div>
                <div *ngIf="badJoinCode">
                  <div class="alert alert-danger" role="alert">
                    Niepoprawny kod domu
                  </div>
                </div>
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!signUpForm.valid">Zapisz się</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
