<h1>Edycja zdjęcia profilowego</h1>
<h5>Wybierz jedeno z proponowanych zdjęć lub wklej adres url ze swoim własnym!</h5>
<form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="imageUrl">Adres url zdjęcia</label>
        <label for="imageUrl" class="text-danger">*</label>
        <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control">
        <span *ngIf="!imageForm.get('imageUrl').valid && imageForm.get('imageUrl').touched" style="color: red"
              class="help-block">
                  <span *ngIf="imageForm.get('imageUrl').errors['required']" >
                    To pole nie może być puste!
                  </span>
                </span>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-success"
              style="margin-right: 3px;"
              [disabled]="!imageForm.valid">Zapisz</button>
      <button type="button" class="btn btn-danger" (click)="onCancel()">Anuluj</button>
    </div>
  </div>
</form>
<br><br>
<p>Możesz też wybrać jedno ze zdjęć zaproponowanych przez nas!</p><br>
<div class="row">
  <div class="col-xs-12">
    <div class="row row-cols-1 row-cols-md-6 g-4">
      <div class="col" *ngFor="let image of proposedImages;let i = index">
        <div (mouseenter)="onEnter(i)" (mouseleave)="onLeave()">
            <div class="card " [class.round]="i == selected">
              <img [src]="image" class="card-img-top" alt="...">
              <a class="stretched-link" (click)="onImageClicked(image)"></a>
            </div>

        </div>
      </div>

    </div>
  </div>
</div>
