<div class="row">
  <div class="col-xs-12">
    <div>
      <h3>Stwórz nowy pokój</h3>
    </div>
    <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nazwa Pokoju</label>
            <label for="name" class="text-danger">*</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
            <span *ngIf="!roomForm.get('name').valid
            && roomForm.get('name').touched" style="color: red"
                  class="help-block">
              <span *ngIf="roomForm.get('name').errors['required']" >
                To pole nie może być puste!
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image">Ścieżka do obrazu</label>
            <input
              type="url"
              id="image"
              name="image"
              formControlName="image"
              class="form-control">
            <span *ngIf="!roomForm.get('image').valid
            && roomForm.get('image').touched" style="color: red"
                  class="help-block">
              <span *ngIf="roomForm.get('image').errors['pattern']" >
                To pole musi zawierać poprawny adres url albo może być puste!
              </span>
            </span>
          </div>
        </div>
      </div>
      <br>
      <p>Jeśli nie masz pomysłu na obrazek może chcesz wybrać jeden z zaproponowanych przez nas:</p><br>
      <div class="row">
        <div class="col-xs-12">
          <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col" *ngFor="let image of proposedImages;let i = index">
              <div (mouseenter)="onEnter(i)" (mouseleave)="onLeave()">
                <div class="card " [class.round]="i == selected">
                  <img [src]="image" class="card-img-top" alt="...">
                  <a class="stretched-link" (click)="onImageClicked(image)"></a>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success"
                  style="margin-right: 3px;"
                  [disabled]="!roomForm.valid">Zapisz</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Anuluj</button>
          <br>
        </div>
      </div>
    </form>
  </div>
</div>
