<div class="row">
  <div class="col-xs-12">
    <p *ngIf="isFetching">Loading...</p>
    <div *ngIf="!isFetching">
      <table class="table table-hover table-borderless caption-top" aria-describedby="ToDo Tasks List">
        <caption class="table-light">Zadania do Zrobienia</caption>
        <thead class="table-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Nazwa</th>
          <th scope="col">Cena</th>
          <th scope="col">Pokój</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody *ngFor="let task of toDoTasks; let i = index">
        <tr>
          <td style="width: 40px">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="toDoGridCheck"
                       (click)="onChangeToDoneTask(i)">
              </div>
            </div>
          </td>
          <td>{{ task.name }}</td>
          <td>{{ task.price }}</td>
          <td>{{ task.room.name }}</td>
          <td style="width: 40px">
            <div class="dropdown">
              <button class="btn btn-secondary btn-sm" type="button" id="additionalActionToDo" data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" [routerLink]="['/tasks', 'list', 'todo', i]">Edytuj</a></li>
                <li><a class="dropdown-item" (click)="onDeleteToDo(i)">Usuń</a></li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <table class="table table-hover table-borderless caption-top " aria-describedby="Done Tasks List">
        <caption class="table-light">Zrobione Zadania</caption>
        <thead class="table-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Nazwa</th>
          <th scope="col">Cena</th>
          <th scope="col">Pokój</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody *ngFor="let task of doneTasks; let i = index">
        <tr>
          <td style="width: 40px">
            <div class="form-group">
              <div class="form-check">
                <input  class="form-check-input" type="checkbox" id="doneGridCheck" checked
                       (click)="onChangeToToDoTask(i)">
              </div>
            </div>
          </td>
          <td style="color: gray">{{ task.name }}</td>
          <td style="color: gray">{{ task.price }}</td>
          <td style="color: gray">{{ task.room.name }}</td>
          <td style="width: 40px">
            <div class="dropdown">
              <button class="btn btn-secondary btn-sm" type="button" id="additionalActionDone" data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" [routerLink]="['/tasks', 'list', 'done', i]">Edytuj</a></li>
                <li><a class="dropdown-item" (click)="onDeleteDone(i)">Usuń</a></li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
