<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success"
            (click)="onCreateNewTask()">Stwórz nowe zadanie</button>
  </div>
</div>
<!--<hr>--><br>
<div class="row">
  <div class="col-xs-12">
    <p *ngIf="isFetching">Loading...</p>
    <div *ngIf="!isFetching">
      <h5>Zadania do wykonania</h5>
      <p>Zaznacz zadanie, aby oznaczyć je jako wykonane</p>

      <table class="table table-hover table-borderless caption-top" aria-describedby="ToDo Tasks List">
        <thead class="table-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Nazwa</th>
          <th scope="col">Cena początkowa</th>
          <th scope="col">Obecna cena</th>
          <th scope="col" *ngIf="roomDetails">Pokój</th>
          <th scope="col">Ostatnio wykonane</th>
          <th scope="col">Wykonane przez</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody *ngFor="let task of toDoTasks">
        <tr>
          <td style="width: 40px">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="toDoGridCheck"
                       (click)="onChangeToDoneTask(task.id)">
              </div>
            </div>
          </td>
          <td>{{ task.name }}</td>
          <td>{{ task.initialPrice }}</td>
          <td>{{ task.currentPrice }}</td>
          <td *ngIf="roomDetails">{{ task.room.name }}</td>
          <td>{{ task.lastDoneDate }}</td>
          <td>{{ taskToUserMap.get(task.lastDoneUserId) }}</td>
          <td style="width: 40px">
            <div class="dropdown">
              <button class="btn btn-secondary btn-sm" type="button" id="additionalActionToDo" data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" [routerLink]="['/tasks', 'list', 'todo', task.id]">Edytuj</a></li>
                <li><a class="dropdown-item" (click)="onDelete(task.id)">Usuń</a></li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <br>
      <h5>Wykonane zadania</h5>
      <p>Odzaznacz wykonane przez siebie zadanie jeśli się pomyliłeś</p>
      <table class="table table-hover table-borderless caption-top " aria-describedby="Done Tasks List">
        <thead class="table-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Nazwa</th>
          <th scope="col">Cena początkowa</th>
          <th scope="col">Obecna cena</th>
          <th scope="col" *ngIf="roomDetails">Pokój</th>
          <th scope="col">Ostatnio wykonane</th>
          <th scope="col">Wykonane przez</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody *ngFor="let task of doneTasks">
        <tr>
          <td style="width: 40px">
            <div class="form-group">
              <div class="form-check">
                <input  class="form-check-input" type="checkbox" id="doneGridCheck" checked
                       (click)="onChangeToToDoTask(task.id)">
              </div>
            </div>
          </td>
          <td style="color: gray">{{ task.name }}</td>
          <td style="color: gray">{{ task.initialPrice }}</td>
          <td style="color: gray">{{ task.currentPrice }}</td>
          <td style="color: gray" *ngIf="roomDetails">{{ task.room.name }}</td>
          <td style="color: gray">{{ task.lastDoneDate }}</td>
          <td style="color: gray">{{ taskToUserMap.get(task.lastDoneUserId) }}</td>
          <td style="width: 40px">
            <div class="dropdown">
              <button class="btn btn-secondary btn-sm" type="button" id="additionalActionDone" data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" [routerLink]="['/tasks', 'list', 'done', task.id]">Edytuj</a></li>
                <li><a class="dropdown-item" (click)="onDelete(task.id)">Usuń</a></li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
