<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success"
            >New Task</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p *ngIf="isFetching">Loading...</p>
    <div *ngIf="!isFetching">
      <table class="table table-hover table-borderless" aria-describedby="Tasks List">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Cena</th>
        </tr>
        </thead>
        <tbody *ngFor="let task of tasks; let i = index">
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.price }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
