<div class="row">
  <div class="col-xs-12">
    <div>
      <h3>Stwórz nowe Zadanie</h3>
    </div>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nazwa</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
            <span *ngIf="!taskForm.get('name').valid
            && taskForm.get('name').touched"
                  class="help-block">
              <span *ngIf="taskForm.get('name').errors['required']" style="color: red">
                To pole nie może być puste!
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="initialPrice">Cena początkowa</label>
            <input
              type="number"
              id="initialPrice"
              formControlName="initialPrice"
              class="form-control">
              <span *ngIf="!taskForm.get('initialPrice').valid
              && taskForm.get('initialPrice').touched" style="color: red"
                    class="help-block">
              <span *ngIf="taskForm.get('initialPrice').errors['required']" >
                To pole nie może być puste i musi być liczbą!
              </span><br *ngIf="taskForm.get('initialPrice').errors['required']">
              <span *ngIf="taskForm.get('initialPrice').errors['pattern']" >
                Wpisana wartość musi być liczbą całowitą!
              </span><br *ngIf="taskForm.get('initialPrice').errors['pattern']">
              <p><span *ngIf="taskForm.get('initialPrice').value < 1">
                Cena musi być większa od 0!
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="repetitionRateInDays">Co ile dni należy powtarzać to zadanie?</label>
            <input
              type="number"
              id="repetitionRateInDays"
              formControlName="repetitionRateInDays"
              class="form-control">
              <span *ngIf="!taskForm.get('repetitionRateInDays').valid
              && taskForm.get('repetitionRateInDays').touched" style="color: red"
                    class="help-block">
              <span *ngIf="taskForm.get('repetitionRateInDays').errors['required']" >
                To pole nie może być puste i musi być liczbą!
              </span><br *ngIf="taskForm.get('repetitionRateInDays').errors['required']">
              <span *ngIf="taskForm.get('repetitionRateInDays').errors['pattern']" >
                Wpisana wartość musi być liczbą całowitą!
              </span><br *ngIf="taskForm.get('repetitionRateInDays').errors['pattern']">
              <p><span *ngIf="taskForm.get('repetitionRateInDays').value < 1">
                Liczba dni musi być większa od 0!
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="roomName">Pokój</label>
            <select
              id="roomName"
              name="roomName"
              class="form-control"
              formControlName="roomName">
              <option
                [ngValue]="room.name"
                *ngFor="let room of rooms">
                {{room.name}}</option>
            </select>
            <span *ngIf="!taskForm.get('roomName').valid
            && taskForm.get('roomName').touched"
                  class="help-block">
              <span *ngIf="taskForm.get('roomName').errors['required']" style="color: red">
                To pole nie może być puste!
              </span>
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success"
                  style="margin-right: 3px;"
                  [disabled]="!taskForm.valid">Zapisz</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Anuluj</button>
        </div>
      </div>
    </form>
  </div>
</div>
