<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Zmiana hasła</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm" >
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="currentPassword">Obecne hasło</label>
            <label for="currentPassword" class="text-danger">*</label>
            <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control">
            <div *ngIf="!changePasswordForm.get('currentPassword').valid && changePasswordForm.get('currentPassword').touched" class="alert alert-danger small">
              To pole nie może być puste!
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Nowe hasło</label>
            <label for="password" class="text-danger">*</label>
            <input type="password" id="password" formControlName="password" class="form-control">
            <div *ngIf="!changePasswordForm.get('password').valid && changePasswordForm.get('password').touched" class="alert alert-danger small">
              To pole nie może być puste!
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="repeatedPassword">Powtórz hasło</label>
            <label for="repeatedPassword" class="text-danger">*</label>
            <input type="password" id="repeatedPassword" formControlName="repeatedPassword" class="form-control">
            <div *ngIf="changePasswordForm.controls['repeatedPassword'].value !== changePasswordForm.controls['password'].value &&
                            changePasswordForm.controls['repeatedPassword'].touched !== false" class="alert alert-danger small">
              Powtórzone hasło musi być takie samo jak hasło!
            </div>
            <div *ngIf="(changePasswordForm?.controls['repeatedPassword'].value === '') &&
                            changePasswordForm.controls['repeatedPassword'].touched !== false" class="alert alert-danger small">
              To pole nie może być puste!
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Anuluj</button>
    <button type="button" class="btn btn-dark" [disabled]="!changePasswordForm.valid ||
(changePasswordForm?.controls['repeatedPassword'].value === '') ||
(changePasswordForm.controls['repeatedPassword'].value !== changePasswordForm.controls['password'].value)"
            (click)="modal.close('Save click')">Zmień hasło</button>
  </div>
</ng-template>
<pre>{{ closeResult }}</pre>
