.split1 {
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  float: left;
}
.split2 {
  text-align: left;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 55%;
  float: left;
}
.split3 {
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  float: left;
}
img{
  border-radius: 50%;
  border: 5px solid #000;
}
.progress{
  width: 500px;
  height: 32px;
}
