<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Zmień zdjęcie profilowe</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="imageForm">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageUrl">Adres url zdjęcia</label>
            <label for="imageUrl" class="text-danger">*</label>
            <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control">
            <div *ngIf="!imageForm?.get('imageUrl')?.valid &&
            imageForm?.get('imageUrl')?.touched &&
            imageForm?.get('imageUrl')?.errors['pattern']" class="alert alert-danger small">
              To pole musi zawierać poprawny adres url!
            </div>
            <div *ngIf="!imageForm?.get('imageUrl')?.valid &&
            imageForm?.get('imageUrl')?.touched &&
            imageForm?.get('imageUrl')?.errors['required']" class="alert alert-danger small">
              To pole nie może być puste!
            </div>
          </div>
        </div>
      </div>
      <app-proposed-images [proposedImages]="proposedImages" (imageClicked)="onImageClicked($event)"></app-proposed-images>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Anuluj</button>
    <button type="button" class="btn btn-dark" [disabled]="!imageForm?.valid"
            (click)="modal.close('Save click')">Zmień zdjęcie</button>
  </div>
</ng-template>
<pre>{{ closeResult }}</pre>
