<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Zmień zdjęcie profilowe</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="imageForm">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageUrl">Adres url zdjęcia</label>
            <label for="imageUrl" class="text-danger">*</label>
            <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control">
            <div *ngIf="!imageForm?.get('imageUrl')?.valid &&
            imageForm?.get('imageUrl')?.touched &&
            imageForm?.get('imageUrl')?.errors['pattern']" class="alert alert-danger small">
              To pole musi zawierać poprawny adres url!
            </div>
            <div *ngIf="!imageForm?.get('imageUrl')?.valid &&
            imageForm?.get('imageUrl')?.touched &&
            imageForm?.get('imageUrl')?.errors['required']" class="alert alert-danger small">
              To pole nie może być puste!
            </div>
          </div>
        </div>
      </div>
      <p>Jeśli nie masz pomysłu na zdjęcie może chcesz wybrać jedno z zaproponowanych przez nas:</p><br>
      <div class="row">
        <div class="col-xs-12">
          <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col" *ngFor="let image of proposedImages;let i = index">
              <div (mouseenter)="onEnter(i)" (mouseleave)="onLeave()">
                <div class="card " [class.round]="i == selected">
                  <img [src]="image" class="card-img-top" alt="...">
                  <a class="stretched-link" (click)="onImageClicked(image)"></a>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Anuluj</button>
    <button type="button" class="btn btn-dark" [disabled]="!imageForm?.valid"
            (click)="modal.close('Save click')">Zmień zdjęcie</button>
  </div>
</ng-template>
<pre>{{ closeResult }}</pre>
