img{
  border: 5px solid #212529;
  border-radius: 5%;}

.split1 {
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  float: left;
}
.split2 {
  text-align: left;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 70%;
  float: left;
}
