<!--<div class="row">-->
<!--  <div class="container split1">-->
<!--    <h1 style="text-align: center">{{room.name}}</h1>-->
<!--    <img [src]="room.image" class="card-img-top" id="theImage" alt="...">-->
<!--    <br><br>-->
<!--  </div>-->
<!--  <div class="container split2">-->
<!--    <app-task-list></app-task-list>-->
<!--  </div>-->
<!--</div>-->




<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="container split1">
        <div class="column">
          <div class="col-md-12">
            <img [src]="room.image" class="card-img-top" id="theImage" alt="...">
            <br><br>
            <h3 style="text-align: left">{{room.name}}</h3>
            <p style="text-align: left">Zostało 1 zadanie do zrobienia</p>
          </div>
        </div>
      </div>
      <div class="container split2">
        <div class="column">
          <div class="col-md-12">
            <app-task-list></app-task-list>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
