<div class="container">
  <div class="row">

      <div class="col text-center">
        <img src="{{houseBuddy?.avatarImageUrl}}" width="300" height="300" alt="..."><br><br>
        <button type="button" class="btn btn-light btn-lg btn-block"
                (click)="onEditPhoto()">Edytuj</button>
      </div>

      <div class="col-6 text-center">
          <h3>Witaj w swoim profilu zuza!</h3>
          <p >W tym miejscu możesz zedytować swój profil lub go usunąć</p>
      </div>

      <div class="col text-center">
        <div id="reading-container" class="col-xs-6">
          <div id="reading-sidebar" class="col-xs-3 panel-default"></div>
          <div id="reading-sidebar-contents" class="panel-body">
            <div class="btn-group-lg btn-group-vertical">
              <div *ngIf="passwordChangeMessage === 'error'" class="alert alert-danger" role="alert">
                Nieudana zmiana hasła
              </div>
              <div *ngIf="passwordChangeMessage === 'success'" class="alert alert-success" role="alert">
                Zmiana hasła zakończona sukcesem!
              </div>
              <button class="btn btn-lg btn-block btn-dark" (click)="onPasswordChange()">Zmień hasło</button>
              <button class="btn btn-lg btn-block btn-danger" (click)="onUserDelete()">Usuń użytkownika</button>
              <button type="button" class="btn btn-success btn-lg btn-block" (click)="onInviteClicked()"
              >Zaproś nową osobę</button>
              <div *ngIf="inviteClicked" class="alert alert-warning" role="alert">
                <p>Kod domu: {{joinCode}}</p><hr>
                <p>Podaj ten kod osobie, która chce dołączyć do Twojego domu, może go wpisać podczas rejestracji.</p>
              </div>

              <app-komponent></app-komponent>
              <app-change-password-modal></app-change-password-modal>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>

