<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success"
            (click)="onNewRoom()">Stwórz nowy pokój</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col"
           *ngFor="let room of rooms"
>
        <div class="card h-100">
          <img [src]="room.image" class="card-img-top, heightWidth" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{room.name}}</h5>
              <p class="card-text" *ngIf="notDoneTasksForRooms.get(room.id) > 3 || notDoneTasksForRooms.get(room.id)==0">
                Zostało jeszcze {{notDoneTasksForRooms.get(room.id)}} zadań do zrobienia</p>
              <p class="card-text"><small class="text-muted"></small>
              <p class="card-text" *ngIf="notDoneTasksForRooms.get(room.id) == 2">
                Zostało jeszcze {{notDoneTasksForRooms.get(room.id)}} zadania do zrobienia</p>
              <p class="card-text"><small class="text-muted"></small>
              <p class="card-text" *ngIf="notDoneTasksForRooms.get(room.id) == 1">
                Zostało jeszcze {{notDoneTasksForRooms.get(room.id)}} zadanie do zrobienia</p>
              <p class="card-text"><small class="text-muted"></small>
            <hr>
            <button class="btn btn-success margin"
                    (click)="onRoomDetails(room.id)">Szczegóły</button>
            <button class="btn btn-info margin"
                    (click)="onEditRoom(room.id)">Edytuj</button>
            <button class="btn btn-danger"
                    (click)="onDeleteRoom(room.id)">Usuń</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
